@font-face {
  font-family: 'Futura Book';
  src: url('../assets/font/FuturaBook/FuturaBookC.eot');
  src: url('../assets/font/FuturaBook/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/FuturaBook/FuturaBookC.woff') format('woff'),
  url('../assets/font/FuturaBook/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Demi';
  src: url('../assets/font/FuturaDemi/FuturaDemiC.eot');
  src: url('../assets/font/FuturaDemi/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/FuturaDemi/FuturaDemiC.woff') format('woff'),
  url('../assets/font/FuturaDemi/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/font/ProximaNova/ProximaNova-Regular.eot');
  src: url('../assets/font/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('../assets/font/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}