body {
  font-family: 'Futura Book', 'Futura Demi', sans-serif;
  font-size: 16px;
  color: $white;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

select:focus,
select:hover,
option:hover,
option:focus {
  outline: none;
}

.green {
  color: $green;
}

.wrapper {
  max-width: 1320px;
  padding: 0 30px;
  margin: 0 auto;
}

.dark-bg {
  background: $black;
}

.btn {
  font-family: 'Futura Demi', sans-serif;
  font-size: 13px;
  color: $white;
  text-transform: uppercase;
  width: 161px;
  padding: 13px 0;
  background: $green;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &.bigger {
    padding: 19px 0;
    width: 207px;
  }
  &.non-bg {
    background: inherit;
    border: 1px solid $white;
    box-shadow: none;
  }
}

