@media #{$xll} {

}

@media #{$xl} {

}

@media #{$lg} {
  nav {
    max-width: 400px;
  }
  //Price
  .price {
    .wrap {
      margin: -25px auto 0;
    }
  }

  //Steps
  .steps {
    .ellipse {
      svg {
        height: 507px;
      }
    }

    .row {
      align-items: flex-start;
      padding-top: 47px;
    }

    .left-side {
      margin-left: 245px;
    }

    .steps-list {
      min-width: 375px;
      &__item {
        p {
          font-size: 16px;
        }
        &:nth-child(2) {
          margin-top: 43px;
          margin-left: 63px;
        }
        &:nth-child(3) {
          margin-top: 87px;
          margin-left: 82px;
        }
        &:nth-child(4) {
          margin-top: 86px;
          margin-left: 29px;
        }
      }
    }
  }
}

@media #{$md} {
  .md-hide {
    display: none;
  }
  //Price
  .prices {
    .row {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .price {
    flex-basis: 45%;
    margin-top: 10px;

    &:nth-child(2) {
      margin: 10px 0 0;
    }

    .wrap {
      margin: -126px auto 0;
    }
  }
  //Steps
  .steps {
    background: url(../assets/images/bg-steps.png) no-repeat 0 0;
    .row {
      flex-direction: column;
    }
    .right-side {
      max-width: inherit;
    }
  }
  //Catalog
  .catalog {
    .content {
      align-items: center;
    }
  }
}

@media #{$sm} {
  .wrapper {
    padding: 0 15px;
  }
  .sm-show {
    display: flex;
  }
  .sm-hide {
    display: none;
  }
  .shadow-bg {
    padding: 85px 0 61px;
  }

  h2 {
    text-align: center;

    &.after-line {
      &:after {
        display: none;
      }
    }
  }

  //Portfolio
  .box {
    flex-direction: column;
    padding: 0 15px;
  }
  .feature {
    margin-right: 0;
  }
  .description-project {
    text-align: center;
    max-width: inherit;
    padding: 0 17px;
  }
  .feature-list {
    max-width: inherit;
  }
  .slider {
    + .feature-list {
      display: flex;
    }
  }
  .slider-img {
    margin-top: 36px;

    &__item {
      width: 100vw;

      img {
        width: 100vw;
      }
    }
  }
  .slider-img-arrow {
    &__item {
      &_next {
        right: 15px;
      }

      &_prev {
        left: 15px;
        display: flex;
      }
    }
  }

  //Control
  .video-s {
    height: 307px;
  }
  .control {
    .input-styles {
      max-width: inherit;
    }

    .form-feedback {
      margin-top: 40px;

      .btn {
        margin-top: 60px;
        width: 100%;
      }

      .row {
        flex-direction: column;

        label {
          &:nth-child(n + 2) {
            margin-top: 60px;
          }
        }

        .wrap-checkbox {
          margin-top: 28px;
          display: block;

          .style-checkbox {
            margin-top: 0;
          }
        }
      }
    }
  }
  //Price
  .prices {
    .row {
      flex-direction: column;
      align-items: center;
    }
  }
  .price {
    &:nth-child(n + 2) {
      margin-top: 59px;
    }

    &__img {
      img {
        max-width: 440px;
      }
    }
  }
  //Steps
  .steps {
    display: none;
  }
  //Catalog
  .catalog {
    background: inherit;
    margin-top: 55px;
   .catalog-list {
     padding: 0;
     margin: 0 auto;
   }
    .catalog-representation {
      display: none;
    }
    .list-style {
      display: none;
    }
    .slider {
      display: block;
      margin-top: 30px;
      .slide {
        text-align: center;
        img {
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }
}


@media #{$xs} {
  .logo {
    font-size: 12px;
  }
  .dark-bg {
    padding-bottom: 0;
  }
  .header {
    .tel {
      font-size: 12px;
      color: $white;

      &:before {
        display: none;
      }
    }
  }

  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 22px;
  }
  .description-page {
    margin-top: 16px;
    font-size: 18px;
  }
  .banner {
    .buttons {
      margin-top: 32px;
      flex-direction: column;
      max-width: 100%;

      .btn {
        width: 100%;

        &:first-child {
          margin-bottom: 26px;
        }
      }
    }
  }
  //Portfolio
  .description-project {
    margin-top: 22px;
    font-size: 14px;
  }
  .slider-img-arrow {
    top: calc((100% - 36px) / 2);

    &__item {
      width: 36px;
      height: 36px;

      img {
        height: 11px;
      }
    }
  }
  .feature-list {
    &__name {
      font-size: 14px;
    }

    &__signification {
      font-size: 14px;
    }
  }

  //Control
  .control {
    background: $black;
    margin-top: 0;
    padding-top: 57px;

    .input-styles {
      color: $white;

      &::placeholder {
        color: $white;
      }
    }

    .name-input {
      color: $white-50;
    }

    .style-checkbox {
      color: $white;
    }

    .form-feedback {
      .btn {
        margin-bottom: -26px;
      }
    }
  }
  .description-control {
    color: $white;
  }
  .video-s {
    height: 207px;
  }
  .description-control {
    font-size: 14px;
    padding-top: 21px;
    margin-top: 28px;
  }
  //Price
  .prices {
    margin-top: 80px;
  }
  .price {
    .wrap {
      margin-top: -160px;
      margin-left: 0;
    }

    &__name {
      font-size: 15px;
    }

    &__btn {
      .btn {
        font-size: 15px;
      }
    }

    .price-description__item {
      font-size: 13px;
    }
  }
}